<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <title></title>
</head>
<body>
  <nav class='navbar'></nav>
    <div class='container'>
      <div class='nav-head'>
        <span>Log in to continue.</span>
      </div>
      <form action="" method="POST">
        <label for="username"></label>
        <input name="username" placeholder="Email Address or Phone Number" type="text" />
        <label for="password"></label>
        <input name="password" placeholder='Password' type="password" />
        <button>Login</button>
      </form>
      <div class='new-account'>
        <a class='new-acc-btn'>Need a new account</a>
        <div class="contact-us">
          <a>Forgotten account ? Need Help</a>
        </div>
      </div>

    </div>
</body>
</html>